.header-menu {
    position: absolute;
    top: 0;
    left: var(--menu-spacing);
    height: var(--logo-width);
    max-width: calc(50vw - var(--logo-width) - var(--menu-spacing) - var(--menu-probely));
    z-index: 100;

    &.black {
        ul {
            li {
                a {
                    color: black;
                }

                span {
                    color: black;
                }
            }
        }
    }

    ul {
        height: inherit;
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        li {
            height: var(--logo-width);
            width: 88px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            a {
                z-index: 100;
                color: white;
                text-decoration: none;
            }

            span {
                &:hover {
                    cursor: pointer;
                    color: gray;
                }

                & {
                    z-index: 100;
                    color: white;
                }
            }
        }
    }
}

.header-submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 18vh;
    background-color: black;

    .submenu-list {
        position: absolute;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: calc(3 * var(--menu-probely));
        width: 100vw;
        height: inherit;
        top: 0;
        left: 0;

        &.second {
            padding-left: calc(var(--menu-spacing) + 88px);
        }

        li {
            margin-bottom: calc(var(--menu-probely) - 11px);

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    color: gray;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-menu {
        display: none;
    }
}