.marquee {
    overflow: hidden;
    position: relative;
    height: auto;
    
    .marquee-wrapper {
        display: flex;
        background-color: #d0e3ff;
        height: 66px;
        align-items: center;
        justify-content: center;

        .marquee-content {
            color: white;
            font-size: 33px;
            white-space: nowrap;
            flex-shrink: 0;
            padding: 0 var(--menu-probely);
            animation: marquee 5s linear infinite;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}