.swiper {
    width: 100vw;
    height: auto;
    max-height: 960px;
    margin-top: -4px;
    margin: 0;

    .swiper-wrapper {
        max-height: 960px;
        margin-top: -4px;

        .swiper-slide {
            max-height: 960px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .title {
                display: flex;
                position: absolute;
                z-index: 2;

                h1 {
                    // Тут меняй цвета текста
                    color: #d0e3ff;
                    font-size: 248px;
                }
            }

            img {
                width: inherit;
                height: auto;
                max-height: 960px;
                object-fit: cover;
                filter: blur(5px);
                z-index: 1;
            }
        }
    } 

    .swiper-pagination {

        .swiper-pagination-bullet {
            color: rgb(0, 0, 255);
        }
    }

    .swiper-button-next, .swiper-button-prev {
        color: rgb(0, 0, 255);
    }
}
