.info-content-page {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    margin-top: var(--menu-probely);

    .goods-exchange-and-return-heading {
        margin-left: var(--menu-spacing);
        width: calc(100vw / 2);

        h1 {
            font-size: 62px;
            margin-top: var(--menu-probely);
            margin-bottom: 0;
            padding-bottom: 11px;
        }

        .goods-exchange-and-return-article {
            font-family: "Human Sans", sans-serif;
            font-weight: 400;
            padding-bottom: calc(--menu-spacing / 2 );

            p {
                font-size: 24px;
                padding-top: 11px;
            }
        }
    }

    .goods-exchange-and-return-picture img {
        padding-right: var(--menu-spacing);
        padding-left: var(--menu-spacing);
        padding-bottom: calc(--menu-spacing / 2);
        padding-top: calc(--menu-spacing / 2);
        height: 74vh;
        width: auto;
    }
}
