.register-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--logo-width) - 155px);

  .register-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0px 0px 45px 15px rgba(34, 60, 80, 0.1);

    .email-group,
    .password-group,
    .confirm-password-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      align-items: center;
      justify-content: flex-start;

      .email-label,
      .password-label,
      .confirm-password-label {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      .email-input,
      .password-input,
      .confirm-password-input {
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 1rem;
        width: 300px;
        max-width: 400px;
        min-width: 100px;
      }

      .error {
        color: red;
        font-size: 0.8rem;
        margin-top: 0.25rem;
      }
    }

    .password-wrapper {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      .toggle-password-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: #007bff;

        .password-toggle-text {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .register-button {
      background-color: black;
      color: white;
      border: none;
      padding: 0.75rem 1.5rem;
      cursor: pointer;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      transition: opacity 0.3s;
      width: 100%;

      &:hover {
        opacity: 0.75;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .login-link {
    margin-top: 1rem;
    text-align: center;

    .login-button {
      background: none;
      border: none;
      color: #007bff;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}