.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.shop-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin-top: var(--logo-width, 64px); /* Убедитесь, что --logo-width определен */
    padding: var(--spacing-sm, 16px);
    justify-items: center;
    min-height: calc(100vh - var(--logo-width, 64px) - 155px);
}

.product-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-md, 24px);
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    border: 1px solid #e0e0e0; /* Добавляем границу для разделения карточек */
}

.product-card-wrapper:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.product-card-image {
    width: 100%;
    aspect-ratio: 1 / 1; /* Сохраняем соотношение сторон 1:1 */
    display: block;
    object-fit: cover;
}

.product-card-content {
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    flex: 1; /* Растягивает контент на оставшееся пространство */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-cost {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

/* Дополнительные стили для лучшего отображения на различных устройствах */

@media (max-width: 768px) {
    .shop-page {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .product-card-name {
        font-size: 16px;
    }

    .product-card-cost {
        font-size: 14px;
    }
}