#header_common {
    margin: 0;
    position: relative;
    width: 100%;
    height: var(--logo-width);
    z-index: 100;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
    transition: 0.3s;

    .custom-logo-link {
        display: inline-block;

        .faithwork-logo {
            height: var(--logo-width) !important;
            width: var(--logo-width) !important;
            margin-left: calc((100vw - var(--logo-width)) / 2);
            margin-right: auto;
            position: absolute;
            top: 0;
            z-index: 100;
        }

        .faithwork-logo.inactive {
            display: none;
        }
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    @media (max-width: 768px) {
        .desktop {
            display: none;
        }

        .mobile {
            display: block;
        }
    }
}