.footer-second-social {
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center;

    a {
        display: flex !important;
        margin-left: calc(var(--menu-probely) / 2);
        margin-right: calc(var(--menu-probely) / 2);
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .footer-svg {
            
            &.black {
                filter: invert(100%);
            }
            &:hover {
                filter: invert(50%);
            }
        }
    }
}