@media (max-width: 1600px) {
	* {
		--logo-width: 64px;
		--menu-spacing: 110px;
		--menu-probely: 22px;
		--font-size: 20px;
	}
}

@media (min-width: 1600px) {
	* {
		--logo-width: 3.3vw;
		--menu-spacing: 5.7vw;
		--menu-probely: 1.14vw;
		--font-size: 1vw;
	}
}

// base
@import "base/reset";
@import "base/typography";
@import "base/variables";

// components
@import "components/slider-main";
@import "components/marquee";
@import "components/header_icons";
@import "components/footer_copyright";
@import "components/footer_icons";
@import "components/header_menu";
@import "components/breadcrumbs";

// layout
@import "layout/template";
@import "layout/header_main";
@import "layout/header_common";
@import "layout/footer_main";
@import "layout/footer_common";



// pages
@import "pages/main";
@import "pages/404";
// @import "pages/account_old";
@import "pages/shop";
@import "pages/single_product_page";
@import "pages/account_new";
@import "pages/about_us";
@import "pages/contact_us";
@import "pages/delivery";
@import "pages/goods_exchange_and_return";
@import "pages/product_care";
@import "pages/size_guide";
@import "pages/cart_checkout";

// themes
// utils
// vendors