.fw-button {
    display: flex;
    align-items: center;
    /* Центрирование по вертикали */
    justify-content: center;
    /* Центрирование по горизонтали */
    margin-bottom: 1rem;
    padding: 1rem;
    /* Отступы у текста */
    font-size: 16px;
    /* Размер текста */
    min-width: 10rem;
    /* Минимальная ширина кнопки */
    max-width: 15rem;
    /* Максимальная ширина кнопки */
    background-color: #071013;
    /* Цвет фона */
    color: white;
    /* Цвет текста */
    border: none;
    /* Убираем границу */
    border-radius: 1rem;
    /* Скругление углов */
    cursor: pointer;
    /* Курсор при наведении */
    transition: background-color 0.1s ease;
    /* Плавный переход цвета фона */

    &:hover {
        background-color: #484b54;
        /* Цвет фона при наведении */
    }

    &:active {
        background-color: #848999;
        /* Цвет фона при нажатии */
    }

    &:disabled {
        background-color: #bbbec6;
        cursor: default;
    }
}