.fw-btn {
    display: block;
    padding: 0.75rem 1.5rem; // 12px 24px
    margin: 0.25rem;
    font-size: 1rem; // 16px
    color: #fff;
    background-color: #7371FC;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    min-width: 10rem; // 160px
    min-height: 3rem; // 48px
    line-height: 1.5; // 24px
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    position: relative;
  
    &--primary {
      &:hover {
        background-color: #e0e0e0; // Светло-серый фон при наведении
        color: #333;
      }
    }
  
    &--secondary {
      background-color: #666; // Средне-серый фон
  
      &:hover {
        background-color: #e0e0e0; // Светло-серый фон при наведении
        color: #666;
      }
    }
  
    &--tertiary {
      background-color: #999; // Светло-серый фон
  
      &:hover {
        background-color: #e0e0e0; // Светло-серый фон при наведении
        color: #999;
      }
    }
  
    &--disabled {
      background-color: #ccc; // Светло-серый фон для неактивных кнопок
      color: #999; // Светло-серый текст для неактивных кнопок
      cursor: not-allowed;
    }
  }